* {
	box-sizing: border-box;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	min-height: 800px;
	margin: 60px auto 100px;
	font: 1em 'Rationale',sans-serif;
	background: #f5f5fa;
	margin-top:-30px;
}
.slider, .img {
	width: 964px;
	height: 448px;
}
.slider {
	margin-top:140px;
	position: relative;
	overflow: hidden;
	background-color: #000;
	border:6px solid #eee;
	border-radius: 5px;
	box-shadow: 0 7px 20px rgba(0,0,0,.5);
	width:910px;

}
.img {
	position: absolute;
	margin-left: 0px;
	margin-top:-10px;
	perspective: 500px;

}

/*.img1 .frag {
	background: url(images/auto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}*/

.img1 .frag {background-image: url(../img/l1.jpg);background-size:964px 448px;}
.img2 .frag {background-image: url(../img/l2.jpg);background-size:964px 448px; }
.img3 .frag {background-image: url(../img/l3.jpg);background-size:964px 448px;}
.img4 .frag {background-image: url(../img/l4.jpg);background-size:964px 448px;}
.img5 .frag {background-image: url(../img/l5.jpg);background-size:964px 448px;}

.frag {
	width: 150px;
	height: inherit;
	float: left;
	opacity: 0;
	z-index: 0;
	transform-origin: center right;
	transform: rotateY(90deg) translateZ(100px) scale(1.5);
	transition: transform .6s, opacity .6s, -webkit-filter 2s ease-out;
	-webkit-filter: saturate(0) blur(10px) brightness(.6) contrast(4);
}	
.img .frag2  {
	background-position: -150px 0;
	transition-delay: .2s;
}
.img .frag3  {
	background-position: -300px 0;
	transition-delay: .4s;
}
.img .frag4  {
	background-position: -450px 0;
	transition-delay: .6s;
}
.img .frag5  {
	background-position: -600px 0;
	transition-delay: .8s;
}
.img .frag6  {
	background-position: -750px 0;
	transition-delay: 1s;
}
#slide1:checked ~ .slider .img1 .frag,
#slide2:checked ~ .slider .img2 .frag,
#slide3:checked ~ .slider .img3 .frag,
#slide4:checked ~ .slider .img4 .frag,
#slide5:checked ~ .slider .img5 .frag,
#slide6:checked ~ .slider .img6 .frag {
	transform: rotateY(0) translateZ(0) scale(1);
	-webkit-filter: saturate(1) blur(0) brightness(1) contrast(1);
	opacity: 1;
	z-index: 1;
}
.controls {
	position: absolute;
	bottom: -30px;
	left: 50%; 
	margin-left: -115px; /*(6elem30px+5el10px)/2=115px*/
	margin-bottom: 74px;

}
.controls label {
	display: block;
	height: 10px;
	width: 30px;
	float: left;
	background-color: #000;
	margin-right: 10px;
	cursor: pointer;
	opacity: .2;
	transition:opacity .5s;
}
.controls label:hover,
.side-controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
	opacity: .8;
}
.side-controls label {
	position: absolute;
	display: block;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	top: 50%;	
	margin-top: -15px;
	cursor: pointer;
	opacity: .2;
	transition:opacity .5s;
}

#slide1:checked ~ .side-controls label:nth-of-type(6),
#slide2:checked ~ .side-controls label:nth-of-type(1),
#slide3:checked ~ .side-controls label:nth-of-type(2),
#slide4:checked ~ .side-controls label:nth-of-type(3),
#slide5:checked ~ .side-controls label:nth-of-type(4),
#slide6:checked ~ .side-controls label:nth-of-type(5) {
	left: -40px;
	border-right: 40px solid #000;
}
#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(4),
#slide4:checked ~ .side-controls label:nth-of-type(5),
#slide5:checked ~ .side-controls label:nth-of-type(6),
#slide6:checked ~ .side-controls label:nth-of-type(1) {
	right: -40px;
	border-left: 40px solid #000;
}
.slider {
	background-color: #000;
}
.container > input {
	display:none;
}
/*.slider {
	display: none;
}*/
.captions > div {
	position: absolute;
	right: 20px;
	bottom: 7px;
	color: transparent;
	text-shadow: 0 0 60px transparent;
	font-size: 3em;
	z-index: 1;
	text-transform: uppercase;
	transition: text-shadow 2s;

}
#slide2:checked ~ .slider .captions .c2,
#slide1:checked ~ .slider .captions .c1,
#slide3:checked ~ .slider .captions .c3,
#slide4:checked ~ .slider .captions .c4,
#slide5:checked ~ .slider .captions .c5,
#slide6:checked ~ .slider .captions .c6 {
	text-shadow: 0 0 0 rgba(255,255,255,.9)
}

@media screen and (max-width:1024px) {
	.container{
		max-width: 1024px;
		min-height: 630px;
		margin: 60px auto 100px;
		margin-top:0;
	}
	.slider, .img {
		width: 900px;
		height: 448px;
	}
	.slider {
		margin-left:0px;
		margin-top:50px;
		position: relative;
		overflow: hidden;
		background-color: #000;
		border:6px solid #eee;
		border-radius: 5px;
		box-shadow: 0 7px 20px rgba(0,0,0,.5);

	}
	.img {
		position: absolute;
		margin-left: -12px;
		perspective: 500px;
	}
	.controls {
		position: absolute;
		bottom: -48px;
		left: 50%;
		margin-left: -96px;
		margin-bottom: 74px;

	}
	.container .ctitle{
		position:absolute;
		margin-top:-260px;
	}
	.container .ctitle p:nth-child(1){
		font-size: 10px;
		color:#c0bfcf;
		text-align: center;
		margin-bottom:8px;
	}
	.container .ctitle p:nth-child(2){
		color:#625e7d;
		text-align: center;
		font-family: "Expo Light SSi Light";
		font-size: 34px;
	}
}
@media screen and (max-width:768px) {
	.container{
		max-width: 768px;
		min-height: 473px;
		margin-top:0;
	}
	.slider, .img {
		width: 660px;
		height: 307px;
	}
	.slider {
		margin-left:0px;
		margin-top:50px;
		border:6px solid #eee;
		width:600px;

	}
	.img {
		margin-left: -12px;
		perspective: 500px;
		min-width:660px;
		min-height:307px;
	}
	.controls {
		bottom: -44px;
		margin-left: -90px;
		margin-bottom: 66px;

	}
	.container .ctitle{
		position:absolute;
		margin-top:-186px;
	}
	.container .ctitle p:nth-child(1){
		font-size: 10px;
		margin-bottom:8px;
	}
	.container .ctitle p:nth-child(2){
		color:#625e7d;
		font-size: 34px;
	}
	.img1 .frag {background-image: url(../img/l1.jpg);background-size:600px 307px;}
	.img2 .frag {background-image: url(../img/l2.jpg);background-size:600px 307px; }
	.img3 .frag {background-image: url(../img/l3.jpg);background-size:600px 307px;}
	.img4 .frag {background-image: url(../img/l4.jpg);background-size:600px 307px;}
	.img5 .frag {background-image: url(../img/l5.jpg);background-size:600px 307px;}
}
@media screen and (max-width:414px) {
	.container{
		max-width: 414px;
		min-height: 255px;
		margin-top:0;
	}
	.slider, .img {
		width: 380px;
		height: 177px;
	}
	.slider {
		margin-left:0px;
		margin-top:26px;
		border:6px solid #eee;
		width:380px;

	}
	.img {
		margin-left: -12px;
		perspective: 500px;
		min-width:660px;
		min-height:307px;
	}
	.controls {
		bottom: -44px;
		margin-left: -70px;
		margin-bottom: 50px;

	}
	.controls label {
		display: block;
		height: 8px;
		width: 18px;
		float: left;
		background-color: #000;
		margin-right: 10px;
		cursor: pointer;
		opacity: .2;
		transition:opacity .5s;
	}
	.container .ctitle{
		position:absolute;
		margin-top:-100px;
	}
	.container .ctitle p:nth-child(1){
		font-size: 6px;
		margin-bottom:-5px;
		-webkit-text-size-adjust:none;
		transform:scale(0.60)
	}
	.container .ctitle p:nth-child(2){
		color:#625e7d;
		font-size: 20px;
		-webkit-text-size-adjust:none;
		transform:scale(0.80)
	}
	.img1 .frag {background-image: url(../img/l1.jpg);background-size:380px 177px;}
	.img2 .frag {background-image: url(../img/l2.jpg);background-size:380px 177px; }
	.img3 .frag {background-image: url(../img/l3.jpg);background-size:380px 177px;}
	.img4 .frag {background-image: url(../img/l4.jpg);background-size:380px 177px;}
	.img5 .frag {background-image: url(../img/l5.jpg);background-size:380px 177px;}

	.frag {
		width: 100px;
	}
	.img .frag2  {
		background-position: -100px 0;
	}
	.img .frag3  {
		background-position: -200px 0;
	}
	.img .frag4  {
		background-position: -300px 0;
	}
	.img .frag5  {
		background-position: -400px 0;
	}
	.img .frag6  {
		background-position: -500px 0;
	}
}
@media screen and (max-width:375px) {
	.container{
		max-width: 375px;
		min-height: 231px;
		margin-top:0;
	}
	.slider, .img {
		width: 340px;
		height: 158px;
	}
	.slider {
		margin-left:0px;
		margin-top:26px;
		border:6px solid #eee;
		width:340px;

	}
	.img {
		margin-left: -12px;
		perspective: 500px;
		min-width:660px;
		min-height:307px;
	}
	.controls {
		bottom: -44px;
		margin-left: -60px;
		margin-bottom: 50px;

	}
	.controls label {
		display: block;
		height: 8px;
		width: 18px;
		float: left;
		background-color: #000;
		margin-right: 10px;
		cursor: pointer;
		opacity: .2;
		transition:opacity .5s;
	}
	.container .ctitle{
		position:absolute;
		margin-top:-90px;
	}
	.container .ctitle p:nth-child(1){
		font-size: 6px;
		margin-bottom:-5px;
		-webkit-text-size-adjust:none;
		transform:scale(0.60)
	}
	.container .ctitle p:nth-child(2){
		color:#625e7d;
		font-size: 20px;
		-webkit-text-size-adjust:none;
		transform:scale(0.80)
	}
	.img1 .frag {background-image: url(../img/l1.jpg);background-size:340px 158px;}
	.img2 .frag {background-image: url(../img/l2.jpg);background-size:340px 158px; }
	.img3 .frag {background-image: url(../img/l3.jpg);background-size:340px 158px;}
	.img4 .frag {background-image: url(../img/l4.jpg);background-size:340px 158px;}
	.img5 .frag {background-image: url(../img/l5.jpg);background-size:340px 158px;}

	.frag {
		width: 80px;
	}
	.img .frag2  {
		background-position: -80px 0;
	}
	.img .frag3  {
		background-position: -160px 0;
	}
	.img .frag4  {
		background-position: -240px 0;
	}
	.img .frag5  {
		background-position: -320px 0;
	}
	.img .frag6  {
		background-position: -400px 0;
	}
}
@media screen and (max-width:320px) {
	.container{
		max-width: 320px;
		min-height: 197px;
		margin-top:0;
	}
	.slider, .img {
		width: 300px;
		height: 139px;
	}
	.slider {
		margin-left:0px;
		margin-top:10px;
		border:6px solid #eee;
		width:300px;

	}
	.img {
		margin-left: -12px;
		perspective: 500px;
		min-width:660px;
		min-height:307px;
	}
	.controls {
		bottom: -44px;
		margin-left: -60px;
		margin-bottom: 50px;

	}
	.controls label {
		display: block;
		height: 8px;
		width: 18px;
		float: left;
		background-color: #000;
		margin-right: 10px;
		cursor: pointer;
		opacity: .2;
		transition:opacity .5s;
	}
	.container .ctitle{
		position:absolute;
		margin-top:-80px;
	}
	.container .ctitle p:nth-child(1){
		font-size: 6px;
		margin-bottom:-10px;
		-webkit-text-size-adjust:none;
		transform:scale(0.40)
	}
	.container .ctitle p:nth-child(2){
		color:#625e7d;
		font-size: 20px;
		-webkit-text-size-adjust:none;
		transform:scale(0.60)
	}
	.img1 .frag {background-image: url(../img/l1.jpg);background-size:300px 139px;}
	.img2 .frag {background-image: url(../img/l2.jpg);background-size:300px 139px; }
	.img3 .frag {background-image: url(../img/l3.jpg);background-size:300px 139px;}
	.img4 .frag {background-image: url(../img/l4.jpg);background-size:300px 139px;}
	.img5 .frag {background-image: url(../img/l5.jpg);background-size:300px 139px;}

	.frag {
		width: 60px;
	}
	.img .frag2  {
		background-position: -50px 0;
	}
	.img .frag3  {
		background-position: -100px 0;
	}
	.img .frag4  {
		background-position: -150px 0;
	}
	.img .frag5  {
		background-position: -200px 0;
	}
	.img .frag6  {
		background-position: -250px 0;
	}
}